* {
    font-family: 'EB Garamond', serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
}
header {
    display: flex;
    background-color: #6f2327;
    font-size: 30px;
    height: 55px;
    position: relative;
}
header a {
    text-decoration: none;
    color: #fffdf6;
}
header a:hover {
    color: #ffcc5c;
}
.title {
    flex: 1;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}
.cart {
    float: right;
    text-align: center;
    padding-right: 10px;
    position: absolute;
    right: 1%;
    top: 20%;
}
.material-icons {
    font-size: 30px;
}
.bandpicbox {
    margin: 0 auto;
    height: 250px;
    width: 325px;
    padding: 30px 0;
}
#bandpic {
    height: auto;
    width: 100%;
}
.container2 {
    margin: 0 auto;
    width: 325px;
    font-size: 0px;
    padding: 30px 0;
}
.btngroup {
    font-size: 0px;
}
.button {
    color: #fffdf6;
    border: none;
    padding: 5px;   
    box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.3);
    width: 25%;
    cursor: pointer;
    font-size: 16px;
}
.button:nth-child(1) {
    border-top-left-radius: 5px;
}
.button:nth-child(4) {
    border-top-right-radius: 5px;
}
.yellow {
    background-color:#ffcc5c;  
}
.yellow:hover {
    background-color: #FFE877;
}
.burgundy {
    background-color: #6f2327;
}
.burgundy:hover{
    background-color: #8B3C3D;
}


 /* This denotes the CSS for the popup for the item */
.product-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    /* height: 80%;
    overflow: auto; */
    padding: 5%;
    margin: 0 auto;
    margin-top: 10%;
    background: #ebeae6;
    color: #000;
    z-index: 999999;
    box-shadow: 0 0 0 5000000px rgba(0,0,0,0.3)
}

.popup-image, .popup-price, .popup-addToCart, .description {
    margin: 2% auto;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    height: 5%;
    width: 100%;
    font-size: 30px;
    margin-bottom: 4%;
}

.popup-header .material-icons {
    color: #979797;
    cursor: pointer;
}

.popup-image {
    margin: 0 auto;
    border: 3px solid black;
}

.popup-image img {
    max-width: 100%;
}

.popup-price {
    font-size: 30px;
}

.product-popup p {
    text-align: center;
}

.adjust-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
}

.adjust-quantity .material-icons {
    color: #6f2327;
    cursor: pointer;
}

.popup-addToCart {
    width: 90%;
    height: 7%;
    background: #ffcc5c;
    color: #000;
    margin: 0 auto;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

.description {
    font-size: 16px;
}
/* //carousel */
.slides {
    height:250px;
    position:relative;
    width:325px;
    margin:0 auto;
}
.slides1{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity:0;
    transition: all 0.5s ease-in-out;
}
.arrow{
    position:absolute;
    top:0;
    display:block;
    width:50px;
    height:100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background: url("http://dancort.es/assets/img/css-carousel/carousel-arrow-dark.png") 50% 50% / 20px no-repeat;
}
.arrow-prev{
    left:0;
}
.arrow-next{
    right:0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.light{
    color:white;
}
  /*Select every element*/
[id^="item"] {
      display: none;
    }
.item-1 {
    z-index: 2;
    opacity: 1;
    background:url("pictures/album-art.jpg");
    background-size:cover;
}
.item-2{
    background:url('pictures/black-shirt.jpg');
    background-size:cover;
}
.item-3{
    background:url('pictures/burgundy-shirt.jpg');
    background-size:cover;
}
*:target ~ .item-1 {
    opacity: 0;
}
#item-1:target ~ .item-1 {
    opacity: 1;
}
#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}
  
  
